.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 45px;
    width: 45px;
}
