*{
    background-color:5px solid black;
}
h1{
    color: solid rgb(20, 243, 150);
    text-align: center;
    font-family: cursive;
}

body{
    background-color: rgb(169, 169, 169);
    padding:50px;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf8LMirApgj_R-O4aqqlDLVyLeIF_Dhtkepg&s");
}
#outsidebox{
    background-color: rgba(146, 70, 70, 0.664);
    width: 400px;
    height: 625px;
    border-radius: 20px;
    left:550px;
    top:60px;
    margin-left:380px;
}
div img{
    width:380px;
    position:relative;
    top: 10px;
    left:10px;
    border-radius: 20px;
}
div button{
    border-radius: 30px;
    position: relative;
    top:15px;
    left:20px;
    background-color: rgb(172, 73, 92);
    color:rgb(233, 158, 46)
}
h2{
    position: relative;
    left: 22px;
    font-family:serif;
    color:rgb(202, 173, 8);
}
p{
    color:goldenrod;
    position: relative;
    top: -12px;
    left:4px;
    font-size: small;
    font-family: sans-serif;
}
#hg{
    position: relative;
    top:-10px;
    left:150px;
    border-style: inset;
}